name: Test

on:
  push:
    branches:
      - main

jobs:
  front-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 18

      - name: Build
        run: |
            cd frontend
            npm install
            CI="" npm run build
            tar -cvf dist.tar dist

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_IP }}
          username: ${{ secrets.REMOTE_SSH_ID }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          source: "dist.tar"
          destination: "dist"

  back-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy
        uses: actions/checkout@v3

      - name: Deploy
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.REMOTE_IP }}
          username: ${{ secrets.REMOTE_SSH_ID }}
          key: ${{ secrets.REMOTE_SSH_KEY }}
          port: ${{ secrets.REMOTE_SSH_PORT }}
          script: |
            echo > Backend.md 'hello?'
